.error404-container {
    min-height: 100vh;
    max-height: auto;
    width: 100%;
  
    &-body {
      width: 80%;
      margin: auto;
      min-height: 87vh;
      max-height: auto;
      margin-left: 10vh;
    }
  
}
.error404-img {
    //background-size: cover;
    //background-repeat: no-repeat;
    //background-image: url(../../../public/img/Opachki.png);
    //width: auto;
    height: 80vh;
    transform : rotate(90deg);
    left: 0px;
    margin: 0px;
}
