.footer {
  width: 100%;
  height: 5vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em;
  color: #886904;

  &-copyright {
    color: #b88700;
  }
  &-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #886904;
  }
}
